$--level-1: #8dccad;
$--level-2: #f5cc7f;
$--level-3: #6cade9;
$--level-4: #cccc;
$gray-color-2: #ccc;
$--black: black;
body {
  margin: 50px 0 100px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
ol {
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  align-items: baseline;
  .category {
    display: contents;
  }
}
.categories {
  display: flex;
  align-items: baseline;
  justify-content: center;
  &_level-1 {
    background-color: $--level-1;
  }
}
.category_actions {
  display: flex;
  margin-left: 5px;
  &_icon {
    margin-left: 5px;
  }
}

.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  justify-content: center;
}

.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.add-category {
  border-width: 1px;
}
.level-1 {
  width: 70%;
  background: inherit;
  border-style: dashed;
  border-color: $gray-color-2;
  border-width: 1px;
}

.level-2-wrapper {
  position: relative;
  display: grid;
}

.level-2-wrapper li {
  position: relative;
}

.level-2 {
  width: 70%;
  margin: 0 0 40px;
  background: $--level-2;
}
.level-3{
  width: 70%;
  margin: 0 0 40px;
  background-color: $--level-3;
}
.level-4{
  width: 70%;
  margin: 0 0 40px;
  background-color: $--level-4;
}

.button-circle {
  border-radius: 100px;
  padding: 4px 6px;
}
.icon {
  height: 20px;
  width: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: $gray-color-2;
  border-radius: 100px;
}
.delete{
    background-color: rgba(255, 51, 0, 0.897);
}

.cancel{
  background-color: #f5cc7f;
}

.done{
  background-color: #8dccad;
}
.custom-text{
  font-size:medium;
}
.custom-input{
  background-color: inherit;
  border: none;
  outline: none;

}