.plus-icon {
    background-image: url("../public/icons/plus.svg");
  }
  
  .edit-icon {
    background-image: url("../public/icons/edit.svg");
  }
  
  .cancel-icon{
    background-image: url("../public/icons/cancel.svg");

  }
  .compass-icon{
    background-image: url('../public/icons/compass.svg');
  }

  .done-icon{
    background-image: url('../public/icons/done.svg');
  }